*, *::before, *::after{
box-sizing:border-box;
font-family: sans-serif;
}
body {
    padding:0;
    margin:0;
    display:flex;
    widows: 100vw;;
    height:30vh;
    justify-content: center;
    align-items: center;
}
.container  {
    width:800px;
    max-width: 80%;
    padding:10px;
}

.btn-grid {
    display:grid;
    gap:5px;
    margin:20px 0;
}

.btn {
    background-color: #8F00EB;
    color:white;
    
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
